<% provide(:title, "Login") %>
        
<div id="login_form">
  <h1 class="page_title">Login</h1>
  <p>Log in to interact with others, comment on pictures, manage your account and to contact us</p>
  
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email, placeholder: "Email address" %></br>
    
    <%= f.password_field :password, placeholder: "Password" %></br>
    
    <%= f.submit "Log in", id:"submit" %>
  <% end %>
  <p>Need to register? <span id="redirect_link">
    <%= link_to 'Create account', signup_path %>
  </span></div>
</div>
