<% provide(:title, "Sign Up") %>

<div id="register_form">
  <h1 class="page_title">Sign Up</h1>
  <p>Create an account to interact with others and to comment on pictures</p>
  
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <%= f.text_field :name, placeholder: "Name", class: 'form-control' %></br>
    
    <%= f.email_field :email, placeholder: "Email", class: 'form-control' %></br>
    
    <%= f.password_field :password, placeholder: "Password", class: 'form-control' %></br>
    
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: 'form-control' %></br>
    
    <%= submit_tag("Create Account", id:"submit") %></br>
  <% end %>
  <div class="info">
    <p id="info-para">Already registered? <span id="redirect_link">
    <%= link_to 'Login', login_path %>
    </span>  
  </div>
</div>
