<% provide(:title, "Sign up") %>

<div id="register_form">
  <h1 class="page_title">Create Account</h1>
  <p>Create an account to interact with others, comment on pictures and to contact us</p>
  
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <%= f.text_field :name, placeholder: "Name" %></br>
    
    <%= f.email_field :email, placeholder: "Email address", class: 'form-control' %></br>
    
    <%= f.password_field :password, placeholder: "Password", class: 'form-control' %></br>
    
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: 'form-control' %></br>
    
    <%= submit_tag("Register", id:"submit") %></br>
  <% end %>
  <p>Already registered? <span id="redirect_link">
    <%= link_to 'Login here', login_path %>
  </span></form></div>
</div>
